body {
    background-image: url(rebirth-island.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

h6 {
    color: aqua;
}
h7 {
    color: red;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
}
h3 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bolder;
    color:blue
    
}
h4{
    text-align: center;
    text-align: left;
    font-size: 24px;
    color:aqua

}
.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    ]