body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #41d8bf, #2f89b3);
    padding: 15px;
}

header {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

header h1 {
  color: #3b50b2;
  position: relative;
  display: flex;
  left: 20px;
}

header.link {
  display: flex;
  flex-direction: column;
}
header.title{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
header.logo{
  width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
}

.picture {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.meet {
    font-size: 24px;
    font-weight: bolder;
    color: aqua;
    text-align: center;
}

.about {
    color: aqua;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

hr {
    width: 100vw;
    border: 1px solid #ffffff;
}

h1 {
  font-size: 28px;
}

h2 {
    font-size: 20px !important;
    align-items: center;
    color: blue;
}

h3 {
    font-size: 30px;
    align-items: center;
    color: green;
}

h4 {
    font-size: 30px;
    align-items: center;
    color: red;
} 

img#bounty {
  width: 200px;
  height: 140px;
  border-radius: 50%;
  position: relative;
}

ul { 
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  body{ 
      font-size:16px;
      line-height: 30px;
      width: fit-content;
      block-size: fit-content;
      display: inline-block;
      overflow: visible;
  }}