@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #cca8e9;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fcffc1;
  font-weight: bolder;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 40px;
  left: 30px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  font-weight: 900;
  font-size: 30px;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #2f89b3;
  margin-bottom: 0;
  top: 20px;
  position: relative;
  height: 30vh;
}

.desc.active {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  width: 100%;
  height: 100%;
}

.desc p {
  height: 70vh;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}

.panel.active p {
  display: none;
}

.panel p {
  display: none;
}

.containerA {
  width: 30vw;
  height: 80vh;
}

.desc {
  text-align: center;
  align-items: center;
  height: 70vh;
}

.title {
  text-align: center;
  font-size: 30px;
}

header {
  position: absolute;
  top: 0;
  left: 20px;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  font-size: 24px;
}